doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='view' content="width=device-width; initial-scale=1.0")
        title demo jquery
        block styles
    body
        block header
            include ../components/header.pug
        block content
        block footer
        block scripts