extend layout/common.pug

block styles
    link(rel="stylesheet", href="styles/index.css")
block content
    .square
block scripts
    //build:js scripts/index.min.js
    script(src="./scripts/index.js") 
    //endbuild
    